.nav {
  background: #d80605;
  color: #ffffff;
  box-shadow: 0px 3px 6px #0000001A;
  padding: 0.5em;

  &-item {
    a {
      color: #ffffff;
      font-size: 1.5em;
      &:hover {
        color: #ffffff;
      }
    }
    img {
      height: 50px;
    }
  }
}

@media (max-width: 500px) {
  .nav {
    a {
      white-space: nowrap;
    }
    img {
      display: none;
    }
  }
}