@import '../../assets/sass/variables';

.nav {
  background: $primary_color;
  color: $secondary_color;
  box-shadow: 0px 3px 6px #0000001A;
  padding: 0.5em;

  &-item {
    a {
      color: $secondary_color;
      font-size: 1.5em;
      &:hover {
        color: $secondary_color;
      }
    }
    img {
      height: 50px;
    }
  }
}

@media (max-width: 500px) {
  .nav {
    a {
      white-space: nowrap;
    }
    img {
      display: none;
    }
  }
}