.card {
  &-title {
    font-size: 1.5em;
  }

  &-img {
    height: 6em;
    background: url("../../assets/images/deck.jpg");
    background-position: center;
    background-size: cover;
    filter: grayscale(1);
  }
}