<div class="container">
  <div class="row mt-5">
    <div class="col-12 col-md-3 mb-5" *ngFor="let deck of decks">
      <div class="card text-center">
        <div class="card-header">
          <span>Generation</span>
          <h5 class="card-title">
            {{getDeckNumber(deck)}}
          </h5>
        </div>
        
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><i class="fas fa-dragon"></i> Species: <strong>{{deck.pokemon_species.length}}</strong></li>
            <li class="list-group-item"><i class="fas fa-fire-alt"></i> Moves: <strong>{{deck.moves.length}}</strong></li>
            <li class="list-group-item"><i class="fas fa-star"></i> Abilities: <strong>{{deck.abilities.length}}</strong></li>
          </ul>

          <div class="mt-4">
            <a href="#" routerLink="/deck/{{deck.name}}">See Details<i class="ml-2 fas fa-long-arrow-alt-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>