<div class="container">
  <div class="row mt-5">
    <div class="col-12 col-md-3 mb-4" *ngFor="let deck of decks">
      <div class="card text-center">
        <div class="card-img"></div>
        <div class="card-body">
          <h5 class="card-title">{{getDeckName(deck)}}</h5>

          <ul class="list-group list-group-flush">
            <li class="list-group-item">Species: {{deck.pokemon_species.length}}</li>
            <li class="list-group-item">Moves: {{deck.moves.length}}</li>
            <li class="list-group-item">Abilities: {{deck.abilities.length}}</li>
          </ul>

          <a href="#" class="btn btn-warning">See Details</a>
        </div>
      </div>
    </div>
  </div>
</div>